		/* Cart Grid */
		.cart-grid {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			gap: 2rem;
			margin: 2rem;
		}

		/* Items */
		.items {
			display: flex;
			flex-direction: column;
		}

		/* Item Grid */
		.item-grid {
			display: grid;
			grid-template-columns: 1fr 2fr 1fr;
			align-items: center;
			margin: 1rem 0;
		}

		/* Item Image */
		.item-image {
			width: 100%;
			max-width: 150px;
		}

		.item-image img {
			width: 100%;
		}

		/* Item Details */
		.item-details {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0 1rem;
		}

		.item-details h4 {
			font-size: 1.2rem;
			margin: 0;
		}

		.item-details p {
			font-size: 1rem;
			margin: 0.5rem 0;
		}

		.delete-btn {
			background-color: transparent;
			border: none;
			cursor: pointer;
		}

		/* Item Quantity */
		.item-quantity {
			display: flex;
			align-items: center;
		}

		.quantity-btn {
			background-color: transparent;
			border: none;
			font-size: 1.5rem;
			margin: 0 0.5rem;
			cursor: pointer;
		}

		.quantity-btn:hover {
			color: #333;
		}

		.item-quantity input {
			width: 50px;
			text-align: center;
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 0.25rem;
			margin: 0 0.5rem;
		}

		/* Summary */
		.summary {
			display: flex;
			flex-direction: column;
		}

		/* Summary Card */
		.summary-card {
			background-color: #f8f8f8;
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 1rem;
			margin: 1rem 0;
		}

		.summary-card h3 {
			font-size: 1.5rem;
			margin: 0;
		}

		.summary-card p {
			font-size: 1rem;
			margin: 0.5rem 0;
		}

		.summary-card hr {
			border: none;
			border-top: 1px solid #ccc;
			margin: 1rem 0;
		}

		.checkout-btn {
			background-color: #333;
			color: #fff;
      border: none;
		padding: 0.5rem 1rem;
		border-radius: 5px;
		font-size: 1rem;
		cursor: pointer;
		transition: background-color 0.2s ease-in-out;
		margin-top: auto;
	}

	.checkout-btn:hover {
		background-color: #555;
	}

	@media screen and (max-width: 768px) {
		/* Cart Grid */
		.cart-grid {
			grid-template-columns: 1fr;
		}
	}
  @media only screen and (max-width: 768px) {
    .summary {
      grid-column: 1 / span 2; /* span 2 columns */
      margin: 0 auto; /* center-align horizontally */
    }
  }
  .summary-card {
    width: 100%;
  }
  
  